<div class='add-author'>
  <button type='button' {{on 'click' this.toggleForm}}>
    <div class='content'>
      <div class='button-text'>
        Add New Author
      </div>
    </div>
  </button>

  {{#if this.showForm}}
    <div class='modal'>
      <div class='modal-content'>
        <button
          type='button'
          class='close'
          id='close-button'
          {{on 'click' this.toggleForm}}
        >&times;</button>
        <h3>Add New Author</h3>
        <form {{on 'submit' this.addAuthor}}>
          <label for='authorName'>Author Name:</label>
          <input
            id='authorName'
            type='text'
            {{on 'input' this.updateAuthorName}}
          />
          <button type='submit'>Submit</button>
        </form>
      </div>
    </div>
  {{/if}}
</div>