<NavBar />
<Jumbo>
  <h2>About Author Task Allocation</h2>
  <p>
    The Author Task Allocation website is a delightful project created to
    explore Ember. By building a property task allocation website for authors,
    we can simultaneously imagine traveling AND building Ember applications.
  </p>
</Jumbo>